* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Agdasima", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eebb90;
}

.gamepad {
  background-color: #e3deda;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
