@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Silkscreen", sans-serif;
}

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../nonograms/images/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.gamepad {
  background-color: rgb(187, 217, 252);
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(202, 103, 134);
  box-shadow: 5px 5px rgb(255, 196, 213);
  max-width: 500px;
}

dialog, .highScoresDialog {
  position: fixed;
  min-width: 150px;
  width: 250px;
  background-color: rgb(167, 160, 254);
  border: 3px solid rgb(202, 103, 134);
  box-shadow: 5px 5px rgb(255, 196, 213);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 0;
  color: #000000;
  text-align: center;
}

.closeButton {
  background-color: rgb(236, 227, 214);
  box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 15% auto 0;
  border: 2px solid rgb(94, 79, 59);
  min-width: 150px;
  border-radius: 6px;
  padding: 9px 15px;
  font-size: 18px;
  font-weight: 300;
  font-family: inherit;
  transition: background-color 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton:active,
.randomGameButton:active,
.showSolutionButton:active,
.resetButton:active,
.changeThemeButton:active,
.bestScore:active,
.openMenuButton:active {
  top: 3px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.dialogWrapper {
  padding: 1em;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
}

.scroll-lock {
  overflow: hidden;
}

.optionBlock {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgb(187, 217, 252);
  padding: 10px;
  border-radius: 0 10px 10px 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(202, 103, 134);
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.headerBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.headerBlockTitle {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.headerBlockOptions {
  display: flex;
  gap: 10px;
}

.changeThemeButton,
.bestScore,
.openMenuButton {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(255, 229, 154);
  border: 3px solid rgb(202, 103, 134);
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.bestScore {
  background-color: rgb(255, 178, 204);
}

.openMenuButton {
  display: flex;
  width: 55px;
  padding: 5px;
  background-color: rgb(167, 160, 254);
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.nonogramField {
  display: flex;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid black;
  padding: 10px;
}

.select,
.selectDifficulty {
  height: 40px;
  width: 100px;
  background-color: rgb(255, 235, 145);
  text-align: center;
  font-size: 10px;
}

.resetButton,
.randomGameButton,
.showSolutionButton {
  height: 50px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(181, 239, 231);
  border-color: rgb(202, 103, 134);
  justify-content: center;
  display: flex;
  padding: 5px;
  padding-top: 0;
  align-items: center;
  box-shadow: 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.randomGameButton:hover,
.resetButton:hover,
.showSolutionButton:hover {
  background-color: rgb(255, 208, 149);
}

.cell {
  display: flex;
  width: 50px;
  height: 50px;
  outline: 1px solid rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
}

.hintCell {
  border: 1px solid gray;
}

.shadedCell {
  background-color: black;
}

.crossCell {
  background-image: url("/nonograms/images/cross.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.disabledCell {
  pointer-events: none;
}

.cellBorderRow {
  border-right: 3px solid rgb(0, 0, 0);
}

.cellBorderColumn {
  border-bottom: 3px solid rgb(0, 0, 0);
}

.leftHintsField {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topHintsField {
  display: flex;
}

.bottomLevelOfField,
.topLevelOfField {
  display: flex;
}

.footerBlock {
  display: flex;

}

.infoBlock {
  display: flex;
  visibility: hidden;
  width: 50%;
  font-size: 11px;
  padding: 5px 0 5px 0;
  text-align: center;
}

.infoMessage {
  display: flex;
}

.timer {
  display: flex;
  margin-top: 10px;
  width: 50%;
  gap: 2px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.timerSpan {
  display: flex;
  text-align: center;
  width: 10px;
  justify-content: center;
}

.highScoresDialog {
    min-width: 400px;
    padding: 10px;
    padding-right: 5px;
}

.highScoresHeader {
    color: aquamarine;
}

.highScoresRow {
    display: flex;
    justify-content: space-around;
}

.highScoresCell {
    width: 33%;
}

@media (max-width: 900px) {
  .optionBlock {
    transform: translateX(-100%);
    opacity: 0;
  }
  .openMenuButton {
    opacity: 1;
    visibility: visible;
  }
}
