* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.gamepad {
  background-color: #d5d5d5;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nonogramField {
  display: flex;
  flex-wrap: wrap;
}

.menu {
    display: flex;
    background-color: aquamarine;
    outline: 1px solid black;
}

.cell {
  display: flex;
  width: 50px;
  height: 50px;
  outline: 1px solid black;
  justify-content: center;
  align-items: center;
}

.hintCell {
  border: 1px solid gray;
}

.shadedCell {
  background-color: black;
}

.crossCell {
  background-image: url("/nonograms/images/cross.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.cellBorderRow {
  border-right: 3px solid black;
}

.cellBorderColumn {
  border-bottom: 3px solid black;
}

.leftHintsField {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topHintsField {
  display: flex;
}

.bottomLevelOfField,
.topLevelOfField {
  display: flex;
}

.topLevelOfField {
  align-self: flex-end;
}
